body {
    background-color: rgba(215, 222, 223, 0.923);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  ul {
    font-family: verdana;
    font-size: 20px;
  }