body {
    background-color: rgba(215, 222, 223, 0.923);
  }
  
  h1 {
    color: #f1eded;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
  ul {
    font-family: verdana;
    font-size: 20px;
  }
  .myhead {
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  }
