<<<<<<< HEAD
.barfiller {
  width: 100%;
  height: 10px;
  background-color: $bg-gray;
  border: none;
  position: relative;
  z-index: 1;

  .fill {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
  }

  .tipWrap {
    display: none;
  }

  .tip {
    margin-top: -35px;
    padding: 0;
    font-size: 16px;
    color: $heading;
    font-weight: 600;
    left: 0;
    position: absolute;
    z-index: 2;
    background: transparent;
    right: 0;
    text-align: right;
    @media #{$breakpoint-lg} {
      font-size: 14px;
      margin-top: -30px;
    }

    &::after {
      display: none;
    }
  }
}
=======
.barfiller {
  width: 100%;
  height: 10px;
  background-color: $bg-gray;
  border: none;
  position: relative;
  z-index: 1;

  .fill {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
  }

  .tipWrap {
    display: none;
  }

  .tip {
    margin-top: -35px;
    padding: 0;
    font-size: 16px;
    color: $heading;
    font-weight: 600;
    left: 0;
    position: absolute;
    z-index: 2;
    background: transparent;
    right: 0;
    text-align: right;
    @media #{$breakpoint-lg} {
      font-size: 14px;
      margin-top: -30px;
    }

    &::after {
      display: none;
    }
  }
}
>>>>>>> 0c85a4dea3b923d0c666b91c85e5c05a8c2410fb
