<<<<<<< HEAD
body {
    background-color: rgba(171, 175, 173, 0.701);
    h1 {
        color: rgb(248, 248, 252);
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }
}
    ul {
    font-family: verdana;
    font-size: 20px;
    margin: 0;}
=======
body {
    background-color: rgba(171, 175, 173, 0.701);
    h1 {
        color: rgb(248, 248, 252);
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }
}
    ul {
    font-family: verdana;
    font-size: 20px;
    margin: 0;}
>>>>>>> 0c85a4dea3b923d0c666b91c85e5c05a8c2410fb
