body {
    background-color: rgba(171, 175, 173, 0.701);
    h1 {
        color: rgb(153, 196, 26);
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }
}
    ul {
    font-family: verdana;
    font-size: 20px;
    margin: 0;}
