{% extends 'website\base.html' %} {% block content %} {% include 'website\navbar.html' %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  There was an error with your request. Please try again
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container mt-4">
  <h1 class="text-center mb-4">Register</h1>
  <form action="{% url 'register_user' %}" method="POST" class="form-horizontal">
    {% csrf_token %} 
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {{ form.as_p | add_class:'form-control' }}
      </div>
    </div>
    <div class="form-group row mt-3">
      <div class="col-sm-10 offset-sm-2">
        <input type="submit" value="Register" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>

{% include 'website\boxthree.html' %} {% include 'website\profile.html'%} {% include 'website\newsletter.html' %} 
{% endblock %}
